$colors: (
    back: #f3f5fa,
    logo: #d80000,
    error: #f9461c,
    light_error: #f96e4d,
    lighter_error: #ffa28c,
    connect: #ffa101,
    darkest_font: #333333,
    dark_font: #354052,
    medium_font: #a6a6a6,
    light_font: #bbc5d5,
    border_light: #b8cae6,
    link: #80c6ff,
    active: #322a7d,
    hover: #f1f3f8,
    disable: #d9d9d9,
    
);

$border-form: 1px solid map-get($colors, border_light );