@import "_variables.scss";

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: #00000038;
  text-align: center;

  .form {
    position: fixed;
    top: calc(50% - 112px);
    right: calc(43% - 200px);
    z-index: 2;
    background-color: white;
    min-height: 164px;
    min-width: 358px;
    width: 15%;
    border-radius: 10px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;

    .title {
      font-size: 12px;
      color: #343434;
      margin-bottom: 16px;
    }
    .divClass {
      margin-left: 10px !important;
      color: skyblue;
      font-weight: bolder;
      min-width: 40px;
      min-height: 20px;
      margin-top: -10px;
      border-radius: 20px;
    }
    .inputClass {
      margin-left: 10px !important;
      color: black;
      font-weight: bolder;
      min-width: 40px;
      width: 40px;
      min-height: 20px;
      margin-top: -10px;
      border-radius: 20px;
      float: right;
      border: none;
      padding: 5px;
    }

    .parameters {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;

      .group__name {
        flex-basis: 132px;
        height: 18px;
        background-color: map-get($colors, back);
        border-radius: 20px;
        border: 0;
        padding: 7px 3px;
        outline: none;
        text-align: center;
        font-size: 11px;
      }

      input {
        @extend .group__name;
        padding: 0 0 0 10px;
        font-size: 9px;
        height: 32px;
        &::placeholder {
          color: map-get($colors, light_font);
          font-size: 11px;
          font-weight: bold;
        }
      }

      ul {
        direction: ltr;
        text-align: right;
        list-style: none;
        width: 107px;
        height: 75px;
        margin: 0 0.3px 0 0;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
        background-color: white;
        position: absolute;
        font-size: 12px;
        line-height: 16px;
        color: map-get($colors, dark_font);
        left: 57px;
        top: 30px;
        z-index: 4;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 5px;
          height: 60px;
        }

        &::-webkit-scrollbar-track {
          background: #ededed;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #d9d9d9;
          border-radius: 3px;
        }

        button {
          background-color: white;
          border: 0;
          cursor: pointer;
        }
      }
      .add__btn {
        background-color: transparent;
        border: 0;
        width: fit-content;
        padding-right: 0;
        font-size: 11px;
        font-weight: bold;
        color: map-get($colors, active);
        cursor: pointer;
      }
    }

    .edit__parameters {
      @extend .parameters;
      width: fit-content;
      .group__name {
        margin-left: 16px;
      }
    }
    .options__container {
      width: calc(100% - 16px);
      min-height: 70px;
      height: fit-content;
      padding: 8px;
      background-color: map-get($colors, back);
      border-radius: 10px;
      margin: 12px 0;
      .keywordsContainer {
        padding-top: 5px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        .keyword {
          flex: 0 1 auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 14px;
          margin: 0 0 6px 6px;
          padding: 3px 4px 4px 6px;
          border-radius: 10px;
          background-color: white;
          font-size: 9px;
          color: #666666;
          .keywordRemove__button {
            border: 0;
            padding-right: 0;
            padding-left: 0;
            background-color: transparent;
            height: 15px;
            cursor: pointer;
          }
        }
        .inputContainer {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .keywordInput {
            outline: 0;
            border-radius: 10px;
            border: 0;
            padding: 3px 6px;
            height: 25px;
            width: 132px;
            color: #999999;
            &:selected {
              background-color: white;
            }
          }

          .keyword__button {
            padding-right: 10px;
          }
        }
      }
    }
    .options__container__addModal {
      @extend .options__container;
      min-height: 0;
      background-color: white;
      .keywordsContainer {
        .keyword {
          background-color: #f2f2f2;
        }
      }
    }
    .btns {
      align-self: flex-end;

      button {
        background-color: white;
        outline: none;
        border: 0;
        cursor: pointer;
        font-size: 11px;
        font-weight: 500;
      }

      .reject__btn {
        color: map-get($colors, error);
      }

      .active__submit__btn {
        height: 32px;
        min-width: 78px;
        padding: 6px 16px;
        margin-right: 17px;
        border-radius: 6px;
        border: 1px solid map-get($colors, active);
        background-color: white;
        color: map-get($colors, active);
      }
    }
  }
}
.exchange_back{
  background-color: purple;
  color: white;
  min-width: 100px;
  min-height: 40px;
  margin: auto auto;
  border-radius: 20px;

}

.selector__container {
  position: relative;
  width: fit-content;
  padding: 0;

  &:after {
    position: absolute;
    content: "";
    bottom: 15px;
    left: 8px;
    width: 0.3px;
    height: 0.3px;
    border: solid map-get($colors, light_font);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .selector {
    border: 0;
    width: 132px;
    height: 32px;
    background-color: map-get($colors, back);
    border-radius: 20px;
    border: 0;
    padding: 8px 10px;
    outline: none;
    color: #343434;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 30px !important;

    //?arrow
    -webkit-appearance: none;
    &::-ms-expand {
      display: none;
    }
  }
}
